*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    margin-bottom: 250px;
}
app-title{
    height: 100%;
    width: 100% ;
}
.background{
    background-color: #080710;
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
.background .shape{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}
.shape:first-child{
    background: linear-gradient(
        #1845ad,
        #23a2f6
    );
    left: -80px;
    top: -80px;
}
.shape:last-child{
    background: linear-gradient(
        to right,
        #ff512f,
        #f09819
    );
    right: -30px;
    bottom: -80px;
}
form{
    height: 520px;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}
form *{
    font-family: 'Poppins',sans-serif;
    color: #EFEFEF;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
form input{
    font-size: 25px;
    font-weight: 200;
    line-height: 42px;
    text-align: center;
    opacity: 0.6;
    color: #EFEFEF;
}

.register{
    padding: 50px;
    text-align: center;
}


