
    <div class="container">
        <h2> Our Happy Clients </h2>
        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, atque? Repudiandae
            possimus asperiores hic nemo id a molestiae minus impedit!</p>
    
        <!-- Clients Review Section -->
        <div class="reviewSection">

        <!-- Clients Review-1 Section Starts from Here  -->
            <div class="reviewItem">
                <div class="top">
                    <div class="clientImage">
                        <img src="../../../../assets/images/user1.jpg" alt="">
                        <span>Manideep</span>
                    </div>
                    <ul>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-regular fa-star"></i></li>
                        <li><i class="fa-regular fa-star"></i></li>
                    </ul>
                </div>
                <article>
                    <p class="review">"Convenient Booking Process":
                        "Booking my vacation through this travel assistance website was a breeze! The website's user-friendly interface made it easy for me to search for flights, hotels, and activities. I appreciated the ability to compare prices and read reviews from other travelers before making my decision. The booking process was quick and secure, and I received instant confirmation of my reservations. Overall, I had a great experience using this website, and I'll be using it again for my next trip."</p>
                    <p>May 01, 2024</p>
                </article>
            </div>

        <!-- Clients Review-2 Section Starts from Here  -->
            <div class="reviewItem">
                <div class="top">
                    <div class="clientImage">
                        <img src="../../../../assets/images/user2.jpg" alt="">
                        <span>Abhishikth</span>
                    </div>
                    <ul>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-regular fa-star"></i></li>
                        <li><i class="fa-regular fa-star"></i></li>
                    </ul>
                </div>
                <article>
                    <p class="review">"Amazing Experience!":
                        "I recently used this travel assistance website for my trip to Europe, and I must say, it exceeded my expectations! The website provided comprehensive information about various destinations, including travel guides, local attractions, and recommended accommodations. The booking process was seamless, and I received prompt assistance from their customer support team whenever I had a query. Thanks to this website, my trip was hassle-free and memorable. Highly recommended!"</p>
                    <p>Apr 20, 2024</p>
                </article>
            </div>

        <!-- Clients Review-3 Section Starts from Here  -->
            <div class="reviewItem">
                <div class="top">
                    <div class="clientImage">
                        <img src="../../../../assets/images/user3.jpg" alt="">
                        <span>Hitesh</span>
                    </div>
                    <ul>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-regular fa-star"></i></li>
                        <li><i class="fa-regular fa-star"></i></li>
                    </ul>
                </div>
                <article>
                    <p class="review">"Extremely Helpful Customer Service":
                        "I had some last-minute changes to my travel plans, and I reached out to the customer service team of this travel assistance website for assistance. I was amazed by their responsiveness and willingness to help. They quickly resolved my issues and even provided me with alternative options that better suited my needs. Thanks to their excellent customer service, I was able to enjoy my trip without any stress. I'll definitely be using this website for all my future travels!"</p>
                    <p>Apr 29, 2024</p>
                </article>
            </div>
        </div>
    </div>

