<div class="container">
    <div class="contentLeft">
      <div class="row">
          <div class="imgWrapper">
              <img src="../../../../assets/images/containre-image1.jpg" alt=""/>
          </div>
          <div class="imgWrapper">
              <img src="../../../../assets/images/containre-image2.jpg" alt=""/>
          </div>
          <div class="imgWrapper">
              <img src="../../../../assets/images/containre-image3.jpg" alt=""/>
          </div>
          <div class="imgWrapper">
              <img src="../../../../assets/images/containre-image4.jpg" alt=""/>
          </div>
      </div>
    </div>
    <div class="contentRight">
      <div class="content">
        <h4>About Our Agency</h4>
        <h2>Because There's a Whole World Outside Your Office Window.</h2>
        <p>Our team Of dedicated experts has a deep understanding Of over 90
            countries, ensuring that your travel dreams come true with seamless
            planning, exceptional service, and a touch Of local expertise.
            Whether you're looking for an exotic adventure, a relaxing beach
            getaway, a cultural immersion, or a business trip, we have you covered.</p>
            
            
            <div class="feature-list">
              <div class="feature">
                <h3>Safety First</h3>
              </div>
              <div class="feature1">
                <h3>Expertise and Experience</h3>
              </div>
              <div class="feature1">
                <h3>Time and Stress Savings</h3>
              </div>
              <div class="feature">
                <h3>Trusted Travel Guide</h3>
              </div>
            </div>
            <a routerLink="/places">Click here to view trips</a>
          </div>
    </div>
  </div>