@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.Main-Heading{
    color: #373737;
    text-align: center;
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
  
    font-style: normal;
    font-variation-settings:"width" 100;
    background-image: url(../../../../assets/images/dave-hoefler-vHgAy9pOs9I-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
    width: 100%;
}
h1{
    padding-top: 40vh;
    text-decoration: none;
    font-size: 50px;
   
}
.glass-toolbar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}
.glass-toolbar{
    padding-bottom: 150px;
    height: 100px;
}
  
.glass-button {
    display: inline-block;
    text-align: center;
    padding: 24px 32px;
    width: 30vh;
    text-decoration: none;
    border-radius: 15px;
    background-color: rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(30px);
    color: rgba(255,255,255,0.8);
    font-size: 14px;
    letter-spacing: 2px;
    cursor: pointer;
    text-transform: uppercase;
    
}
  
.glass-button:hover {
    background-color: rgba(255,255,255,0.2);
}
.glass-button{
    margin: 15px;
    margin-top: 40px;
}
  
.Main-Heading-shadow {
    background: linear-gradient(180deg, hsla(0, 0%, 0%, 0) 58%, hsla(0, 0%, 0%, 0) 78%);
    padding: 200px;
    height: 100px;
}


 