<app-header></app-header>
<app-search></app-search>
<app-not-found [visible]="!places || places.length <= 0" notfoundmessage='Sorry We Dont Have The Details Of Place You Have Searched' resetLinkroute="/places"   resetLinkText="Reset Search"></app-not-found>
<ul >
    <li *ngFor="let place of places">
        <a [routerLink]="['/place/', place.id]">
            <img [src]="place.imageUrl" [alt]="place.name"/>
            <div class="content">
                <div class="name">
                    {{ place.name }}
                </div>
               
                <!-- Add any additional information you want to display -->
                <div class="stars">
                
                </div>
                <div class="product-item-footer">
                <div class="duration">
                    <span>🕥</span>
                    {{place.duration}}
                </div>
                <div class="price">
                    <span>{{place.price | currency}}</span>
                </div>
                </div>
                
            </div>        
        </a>
        
    </li>
</ul>
